@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 31, 41, 55;
  --background-rgb: 244, 247, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.011em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  letter-spacing: -0.02em;
}

/* Remove dark mode preferences */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 31, 41, 55;
    --background-rgb: 244, 247, 245;
  }
}
